---
layout: default
title: Midnight Movie Knights
show_tweets: true
sitemap:
    priority: 0.7
    changefreq: hourly
    lastmod: 2014-03-01T01:18:00-08:00
---
<div id="home">
	<div class="panel panel-info special-note">
		<div class="panel-heading">
			<h3 class="panel-title">Special Note from The Midnight Movie Knights</h3>
		</div>

		<div class="panel-body">
			<p>This site is still a work in progress. Midnight Movie Knights is a labor of love that we are doing in our spare time. There are a number of issues that we are currently aware of, but we're always open to feedback. Feel free to drop us a line at <a href="http://twitter.com/MovieKnightsPod" target="_blank">@MovieKnightsPod</a> for any reason what so ever, but especially for site issues. Believe us, we'll be happy you even noticed us, let alone took the time to contact us.</p>
			<p>Thank you so much for your support.</p>
		</div>
	</div>

	<h2>Our stuff</h2>
	<div>
		<h2><a href="{{ site.baseurl }}/stream.html">Live Stream</a></h2>

		<p>Ceebs is still piecing this together. The stream player hopefully will be enhanced soon.</p>

		<div class="player-container">
			<audio controls preload="none">
				<source type="audio/mpeg" src="{{ site.streamurl }}">
			</audio>
		</div>

		<div>
		<span><a href="{{ site.baseurl }}/stream.html">Stream Page</a></span>&nbsp;|&nbsp;
		<span><a href="{{ site.streamurl }}" target="_blank">Direct Link</a></div></span>
	</div>

{% for post in paginator.posts %}
	{% assign episodeurl = post.link | replace: 'http://', 'http://www.podtrac.com/pts/redirect.m4a/' %}
	<div>
		<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
		
		<div class="player-container">
			<audio controls preload="metadata">
				<source type="audio/mpeg" src="{{ episodeurl }}">
			</audio>
		</div>

		<div>
			<span>{{ post.date | date_to_string }}</span> <a class="download-link" href="{{ episodeurl }}">Download</a>
		</div>
	</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="paginator row">
		<div class="col-xs-1 col-md-2">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
			<a href="/" >Prev</a>
			{% else %}
			<a href="/page{{ paginator.previous_page }}">Prev</a>
			{% endif %}
		{% else %}
			<span>Prev</span>
		{% endif %}
		</div>

		<div class="col-xs-4 col-md-2">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>

		<div class="col-xs-1 col-md-2">
		{% if paginator.next_page %}
			<a href="/page{{ paginator.next_page }}">Next</a>
		{% else %}
			<span>Next</span>
		{% endif %}
		</div>
	</div>
{% endif %}
</div>