---
layout: default
title: Midnight Movie Knights
show_tweets: true
redirect_from: "/page1/"
---
<div id="home">
	<h2>Our stuff</h2>

	<div class="post-container">
		<h4 class="post-title"><a href="{{ site.baseurl }}/stream.html">Live Stream</a></h4>

		<div class="post-content">
			{% include mixlr-player.html %}
		</div>
	</div>

	<h3>Episodes</h3>
{% for post in paginator.posts %}
	{% assign episodeurl = post.link | replace: 'http://', 'http://www.podtrac.com/pts/redirect.m4a/' %}
	<div class="post-container">
		<h4 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

		<div class="post-content">
			{{ post.excerpt }}

			<div class="post-links">
				<span><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-link"></i>&nbsp;Episode Page</a></span>&nbsp;|&nbsp;
				<span><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: "%B %-d, %Y" }}</a></span>&nbsp;|&nbsp;
				<span><a class="download-link" href="{{ episodeurl }}"><i class="fa fa-cloud-download"></i>&nbsp;Download</a></span>
			</div>
		</div>
	</div>
	{% unless forloop.last %}<hr />{% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
	{% assign paginator_pages = 3 %}
	{% assign paginator_first = 1 %}
	{% if paginator.page > paginator_pages %}{% assign paginator_first = paginator.page | minus: paginator_pages %}{% endif %}
	{% assign paginator_last = paginator.total_pages %}
	{% assign max_pages = paginator.total_pages | minus: paginator_pages %}
	{% assign last_ndx = paginator.total_pages - 1 %}
	{% if paginator.page < max_pages %}{% assign paginator_last = paginator.page | plus: paginator_pages %}{% endif %}
	<div class="text-center">
		<ul class="pagination">
			<li{% unless paginator.previous_page %} class="disabled"{% endunless %}><a href="{{ site.baseurl }}/" title="First Page"><i class="fa fa-angle-double-left"></i></a></li>
			<li{% unless paginator.previous_page %} class="disabled"{% endunless %}><a href="{{ site.baseurl }}/{% if paginator.previous_page > 1 %}page{{ paginator.previous_page }}{% endif %}" title="Previous Page"><i class="fa fa-angle-left"></i></a></li>
			{% if paginator_first > 1 %}<li class="disabled hidden-xs hidden-sm"><span>...</span></li>{% endif %}
			{% for i in (paginator_first..paginator_last) %}
			{% assign page_ndx = paginator.page - 1 %}
			<li class="{% if i == page_ndx %}active{% else %}hidden-xs hidden-sm{% endif %}"><a href="{{ site.baseurl }}/page{{ i }}" title="Page {{ i }}">{{ i }}{% if i == page_ndx %} <span class="sr-only">(current)</span>{% endif %}</a></li>
			{% endfor %}
			{% if paginator_last < paginator.total_pages %}<li class="disabled hidden-xs hidden-sm"><span>...</span></li>{% endif %}
			<li{% unless paginator.next_page %} class="disabled"{% endunless %}><a href="{{ site.baseurl }}/page{% if paginator.next_page %}{{ paginator.next_page }}{% else %}{{ paginator.page }}{% endif %}" title="Next Page"><i class="fa fa-angle-right"></i></a></li>
			<li{% unless paginator.next_page %} class="disabled"{% endunless %}><a href="{{ site.baseurl }}/page{{ paginator.total_pages}}" title="Last Page"><i class="fa fa-angle-double-right"></i></a></li>
		</ul>
	</div>
{% endif %}
</div>