---
layout: default
title: Midnight Movie Knights
show_tweets: true
redirect_from: "/page1/"
---
<div id="home">
	<div class="jumbotron">
		<h1>Operation New Literbox</h1>

		<p>On November 5th, 2014 @ThatFrakkingCat will be moving from some where in the non deserts of East Texas to sunny Southern California.</p>
	</div>

	<h2>Our stuff</h2>

	<div class="post-container">
		<h4 class="post-title"><a href="{{ site.baseurl }}/stream.html">Live Stream</a></h4>

		<div class="post-content">
			<p>Ceebs is still piecing this together. The stream player hopefully will be enhanced soon.</p>

			<div class="player-container">
				<audio controls preload="none">
					<source type="audio/mpeg" src="{{ site.streamurl }}">
				</audio>
			</div>

			<div class="post-links">
				<!-- <span><a href="{{ site.baseurl }}/stream.html" class="play-link" data-src="{{ site.streamurl }}"><i class="fa fa-play"></i> Play</a></span>&nbsp;|&nbsp; -->
				<span><a href="{{ site.baseurl }}/stream.html">Stream Page</a></span>&nbsp;|&nbsp;
				<span><a href="{{ site.streamurl }}" target="_blank">Direct Link</a></span>
			</div>
		</div>
	</div>

	<h3>Episodes</h3>

	<div id="player-message" class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Sorry :-(</strong> The multiple episode player is being rethought.<br />
		The individual episode players are working on their respective pages.
	</div>

{% for post in paginator.posts %}
	{% assign episodeurl = post.link | replace: 'http://', 'http://www.podtrac.com/pts/redirect.m4a/' %}
	<div class="post-container">
		<h4 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

		<div class="post-content">
			<!-- <div class="player-container">
				<audio controls preload="metadata">
					<source type="audio/mpeg" src="{{ episodeurl }}">
				</audio>
			</div> -->

			<p class="post-excerpt">{{ post.excerpt }}</p>

			<div class="post-links">
				<span><a href="{{ site.baseurl }}{{ post.url }}">Episode Page</a></span>&nbsp;|&nbsp;
				<span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date_to_string }}</a></span>&nbsp;|&nbsp;
				<span><a class="download-link" href="{{ episodeurl }}">Download</a></span>
			</div>
		</div>
	</div>
	{% unless forloop.last %}<hr />{% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
	<ul class="pagination">
		<li>
			<a href="{{ site.baseurl }}/{% if paginator.previous_page > 1 %}page{{ paginator.previous_page }}{% endif %}"><i class="fa fa-angle-double-left"></i> Prev</a>
		</li>
		{% for i in (1..paginator.total_pages) %}
		<li{% if i == (paginator.page - 1) %} class="active"{% endif %}><a href="{{ site.baseurl }}/page{{ i }}">{{ i }}</a></li>
		{% endfor %}
		<li>
		{% if paginator.next_page %}
			<a href="{{ site.baseurl }}/page{{ paginator.next_page }}">
		{% else %}
			<a href="{{ site.baseurl }}/page{{ paginator.page }}">
		{% endif %}
			Next <i class="fa fa-angle-double-right"></i></a>
		</li>
	</ul>
{% endif %}
</div>