/*
	Uses sticky footer by Ryan Fait http://ryanfait.com/
*/
@media screen and (min-width: 768px) {
	html, body {
		height: 100%;
	}
	.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -4em;
		padding-bottom: 1em;
	}
	footer, .push {
		height: 4em;
	}
	footer .container {
		padding-top: 1em;
	}
	dt {
		float: left;
		width: 160px;
		margin-bottom: 10px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	dd {
		margin-left: 180px;
		margin-bottom: 10px;
	}
	.calendar-list li h4, .calendar-list li p {
		margin-left: 20px;
	}
}
img {
	max-width: 100%;
	height: auto;
}
.jumbotron h1 {
	font-size: 4em;
}
footer {
	background-color: #101010;
	color: white;
}
#player-message {
	margin-top: 1em;
}
.twitter-widget {
	margin-top: 1em;
}
.paginator {
	margin-top: 2em;
}
.nav-prev {
	padding-left: 0px;
}
.nav-next {
	padding-right: 0px;
}