/*
	Uses sticky footer by Ryan Fait http://ryanfait.com/
*/
@media screen and (min-width: 768px) {
	html, body {
		height: 100%;
	}
	.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -3em;
		padding-bottom: 1em;
	}
	footer, .push {
		height: 3em;
	}
	footer .container {
		padding-top: 1em;
	}
}
img {
	max-width: 100%;
	height: auto;
}
footer {
	background-color: #101010;
	color: white;
}
.special-note {
	margin-top: 2em;
	max-width: 640px;
}
.twitter-widget {
	margin-top: 1em;
}