<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Two friends in different states with microphones that love watching movies together.">
		<meta name="author" content="@MirandaJanell &amp; @ThatFrakkingCat">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@MovieKnightsPod">
		<meta name="twitter:creator" content="@MovieKnightsPod">
		{% if page.categories contains 'podcast' %}
		<meta property="og:title" content="{{ page.title }}">
			{% if page.abstract %}
			<meta property="og:description" content="{{ page.abstract }}">
			{% else %}
			<meta property="og:description" content="{{ page.content }}">
			{% endif %}
		{% else %}
			{% if page.title %}
		<meta property="og:title" content="{{ page.title }}">
			{% else %}
		<meta property="og:title" content="{{ site.name }}">
			{% endif %}
			{% if page.description %}
		<meta property="og:description" content="{{ page.description }}">
			{% else %}
		<meta property="og:description" content="{{ site.description }}">
			{% endif %}
		{% endif %}

    	<title>{{ page.title }}</title>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/mediaelement/mediaelementplayer.css" rel="stylesheet" />
		<link href="{{ site.baseurl }}/assets/css/mmk.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" >
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/favicon-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/favicon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/favicon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/favicon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/favicon-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/favicon-72x72.png">
		<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/favicon-57x57.png">
		<link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}/favicon-196x196.png">
		
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicon-144x144-ie10.png">
		<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/favicon-128x128-ie11.png"/>
		<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/favicon-270x270-ie11.png"/>
		<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/favicon-558x270-ie11.png"/>
		<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/favicon-558x558-ie11.png"/>

		<link rel="alternate" type="application/rss+xml" title="Midnight Movie Knights" href="{{ site.baseurl }}/mmk.xml">
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<header>
							<a href="{{ site.baseurl }} /">
								<img src="{{ site.baseurl }}/assets/img/mmk_banner.png" alt="Midnight Movie Knights Logo" width="750" height="402" />
							</a>
						</header>
						<div class="content">{{ content }}</div>
					</div><!-- .wrapper .container .row .col-md-8 -->

					<div class="col-md-4">
						<h3>About</h3>
						<p>Two friends in different states with microphones that love watching movies together.</p>
						<div class="subscribe-section">
							<h3>Check This Stuff Out</h3>
							<h4>You know, if you want to.</h4>
							<a href="https://itunes.apple.com/us/podcast/midnight-movie-knights/id831512584?mt=2" title="Subscribe in iTunes"><i class="fa fa-fw fa-music"></i>&nbsp;iTunes</a><br />
							<a href="http://www.stitcher.com/s?fid=45932&refid=stpr" title="Subscribe in Stitcher"><i class="fa fa-fw fa-microphone"></i>&nbsp;Stitcher</a><br />
							<a href="{{ site.baseurl }}/mmk.xml" title="Podcasts RSS"><i class="fa fa-fw fa-rss"></i>&nbsp;RSS</a><br />
							<a href="https://twitter.com/MovieKnightsPod" title="@MovieKnightsPod"><span><i class="fa fa-fw fa-twitter"></i>&nbsp;Twitter</a><br />
							<a href="{{ site.baseurl }}/stream.html"><i class="fa fa-fw fa-play"></i>&nbsp;Live Stream</a><br />
							<a href="{{ site.baseurl }}/segments.html"><i class="fa fa-fw fa-link"></i>&nbsp;Segments</a><br />
							<a href="{{ site.baseurl }}/calendar.html"><i class="fa fa-fw fa-calendar"></i>&nbsp;Calendar</a><br />
							<a href="{{ site.baseurl }}/credits.html"><i class="fa fa-fw fa-certificate"></i>&nbsp;Credits</a>
						</div>
						
						<div class="host-section">
							<h3>Hosts</h3>
							<a href="https://twitter.com/MirandaJanell" title="@MirandaJanell">@MirandaJanell</a><br />
							<a href="https://twitter.com/ThatFrakkingCat" title="@ThatFrakkingCat">@ThatFrakkingCat</a>
						</div>
						
						{% if page.show_tweets %}
						<div class="twitter-widget hidden-xs hidden-sm">
							<a class="twitter-timeline" href="https://twitter.com/MovieKnightsPod" data-widget-id="440616044848087040" title="@MovieKnightsPod Twitter Timeline">Recent Tweets by @MovieKnightsPod</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						{% endif %}
					</div><!-- .wrapper .container .row .col-md-4 -->
				</div><!-- .wrapper .container .row -->
			</div><!-- .wrapper .container -->

			<div class="push"></div>
		</div><!-- .wrapper -->

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Midnight Movie Knights</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">@MirandaJanell &amp; @ThatFrakkingCat</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
						<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
						</div>
				</div>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/assets/mediaelement/mediaelement-and-player.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/mmk.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-48581574-1', 'midnightmovieknights.com');
	ga('send', 'pageview');
</script>
	</body>
</html>
