<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    	<title>{{ page.title }}</title>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12"><a href="/"><img src="http://media.midnightmovieknights.com/img/logo1-wide.jpg" /></a></div>
				</div>
			</div>
		</header>
		
		<div class="container">
			<div class="row">
				<div class="col-md-8">{{ content }}</div>
				<div class="col-md-4">
					<div class="subscribe-section">
						<!--<span><i class="fa fa-music"></i>&nbsp;iTunes</span><br />-->
						<a href="/mmk.xml"><span><i class="fa fa-rss"></i>&nbsp;RSS</span></a><br />
						<a href="https://twitter.com/MovieKnightsPod"><span><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
					</div>
					<div class="host-section">
						<h3>Hosts</h3>
						<a href="https://twitter.com/MirandaJanell">@MirandaJanell</a><br />
						<a href="https://twitter.com/ThatFrakkingCat">@ThatFrakkingCat</a>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">Copyright &copy; 2014 @MirandaJanell &amp; @ThatFrakkingCat</a></div>
				</div>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
