---
layout: default
---
<h2>{{ page.title }}</h2>
<h3>{{ page.subtitle }}</h3>

{% assign episodeurl = page.link | replace: 'http://', 'http://www.podtrac.com/pts/redirect.m4a/' %}

{% if page.soundcloud %}
<div class="embed-responsive">
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
{% else %}
<p class="player-container">
	<audio controls>
		<source type="audio/mpeg" src="{{ episodeurl }}">
	</audio>
</p>
{% endif %}

<p class="post-links">
	<span><i class="fa fa-calendar"></i>&nbsp;{{ page.date | date: "%B %-d, %Y" }}</span> | <span><a href="{{ episodeurl }}"><i class="fa fa-cloud-download"></i>&nbsp;Download</a></span>
</p>

<p class="post">
{{ content }}
</p>

<nav>
	<ul class="pager">
		<li class="previous{% unless page.previous %} disabled{% endunless %}"><a href="{{ baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}"><span aria-hidden="true">&larr;</span> Older</a></li>
		<li class="next{% unless page.next %} disabled{% endunless %}"><a href="{{ baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>